{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions"
          ]
        },
        "production": {
          "presets": ["babili"]
        }
      }
    ]
  ],
  "plugins": ["transform-object-rest-spread"]
}

/*

{
  "presets": [
    ["latest", {
      "es2015": {
        "modules": "umd"
      }
    }]
  ],
  "env": {
    "production": {
      "presets": ["babili"]
    }
  },

}*/
